<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Clases Virtual de <strong>{{ name }}</strong></h4>
                        <p class="card-category">{{ title }}</p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <button class="btn btn-sm btn-outline-primary">Agregar Clase</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="container">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Buscar..." [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="buscar" value="{{buscar}}" (keypress)="seleccionLista($event)">
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of SearchClassRoomItem">
                                <a [routerLink]="['/class-room-page', r(item) ]">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons zoom">school</i>
                                        </div>
                                        <p class="card-category">{{ item.name }}</p>
                                        <h3 class="card-title">
                                            <small>ITEM/ 5</small>
                                        </h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">access_time</i> 8 Horas
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
                          [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>