<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Lista de Aulas Virtuales</h4>
                        <p class="card-category"> Diferentes Sistemas de Armas del Ejército Bolivariano</p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                    <button class="btn btn-sm btn-outline-primary" (click)="open(mymodal)">Agregar Aula</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="container">
                            
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Buscar..." [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="buscar" value="{{buscar}}" (keypress)="seleccionLista($event)">
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let item of SearchClassRoom">
                                <div class="card card-chart">
                                    <a [routerLink]="['/class-room-item', r(item) ]">
                                    <div class="card-header card-header-{{item.status === '1' ? 'success' : 'danger'}}">
                                        <div align="center">
                                            <img src="{{ '../../assets/classroom/'+item.img ? '../../assets/classroom/'+item.img : '../../assets/logos/cacfr.png' }}"
                                                class="drop img-fluid zoom" style="width: 180px; height: 180px; border-radius:110px;
                                            margin-left: auto;
                                            margin-right: auto;">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><strong>{{ item.name }}</strong></h4>
                                        <p class="card-category">
                                            <!-- <span class="{{item.status?'text-success':'text-danger'}}"> -->
                                                <!-- <i class="{{item.status?'fa fa-long-arrow-up':'fa fa-long-arrow-down'}}"></i> -->
                                                <!-- <strong>{{item.status ? "Activo" : "Desactivado"}}</strong></span>  -->
                                        {{ item.title }}
                                        </p>
                                    </div>
                                </a>
                                    <div class="card-footer">
                                        <div class="stats">
                                            <i class="material-icons">access_time</i> {{ item.time }} Horas de
                                            instrucción
                                        </div>
                                        <div align="rigth">
                                            <i class="material-icons" (click)="alertWithSuccess(item)">edit</i>
                                            &nbsp;
                                            <i class="material-icons" (click)="ClassRoomDelete(item)">delete</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                <div class="container">
                <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
                </mat-paginator>
            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Agregar Aula Virtual</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="contenedor">

            <mat-form-field>
              <input matInput [(ngModel)]="valor1" type="number" placeholder="Ingrese primer valor">
            </mat-form-field>
          
            <mat-form-field>
                <input matInput [(ngModel)]="valor2" type="number" placeholder="Ingrese segundo valor">
            </mat-form-field>
                        
          </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="sumar()">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </ng-template>