
<div class="app-body" id="fondo">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto bajar">
            <div class="card-group">
            
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title"><strong>Datos Personales del Alumno</strong></h4>
                            <p class="card-category">Complete el formulario para ingresar al sistema, tenga en cuenta que la información que ingrese sera utilizada para generar los certificados de los cursos</p>
                        </div>
                        <div class="card-body">
                          <div class="card-body">
                            <form [formGroup]="checkoutForm" novalidate  class="example-form" (ngSubmit)="onSubmit(checkoutForm.value)">
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <mat-select [(ngModel)]="selectedValue" formControlName="hierarchy" placeholder="Seleccione Grado y/o Jerarquia">
                                          <mat-option *ngFor="let grado of grados" [value]="grado.value">
                                          {{ grado.name }}
                                          </mat-option>
                                        </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                          <mat-label>Cedula</mat-label>
                                          <input type="number" [(ngModel)]="valor1" matInput [formControl]="identificationCard" [errorStateMatcher]="matcher"
                                                 placeholder="Ingrese cedula de identidad Ex: 12345678" autocomplete="off">
                                          <mat-error *ngIf="identificationCard.hasError('email') && !identificationCard.hasError('required')">
                                            Por favor, introduce un numero telefonico valido
                                          </mat-error>
                                          <mat-error *ngIf="identificationCard.hasError('required')">
                                            El campo es <strong>requerido</strong>
                                          </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                {{ valor1}}
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Primer Nombre</mat-label>
                                        <input type="text" matInput [formControl]="name1" [errorStateMatcher]="matcher"
                                               placeholder="Ingrese primer nombre" autocomplete="off">
                                        <mat-error *ngIf="name1.hasError('email') && !name1.hasError('required')">
                                          Por favor, introduce un numero telefonico valido
                                        </mat-error>
                                        <mat-error *ngIf="name1.hasError('required')">
                                          El campo es <strong>requerido</strong>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Segundo Nombre" autocomplete="off" type="text" formControlName="name2">
                                      </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                      <mat-label>Primer Apellido</mat-label>
                                      <input type="text" matInput [formControl]="surname1" [errorStateMatcher]="matcher"
                                             placeholder="Ingrese primer apellido" autocomplete="off">
                                      <mat-error *ngIf="surname1.hasError('email') && !surname1.hasError('required')">
                                        Por favor, introduce un numero telefonico valido
                                      </mat-error>
                                      <mat-error *ngIf="surname1.hasError('required')">
                                        El campo es <strong>requerido</strong>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Segundo Apellido" autocomplete="off" type="text" formControlName="surname2">
                                    </mat-form-field>
                                  </div>
                              </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput [formControl]="email" [errorStateMatcher]="matcher"
                                               placeholder="Ex. alumno@example.com" autocomplete="off">
                                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                          Por favor, introduce una dirección de correo electrónico válida
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('required')">
                                          El correo electrónico es <strong>requerido</strong>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Telefono</mat-label>
                                        <input type="number" matInput [formControl]="phone" [errorStateMatcher]="matcher"
                                               placeholder="Ingrese numero telefonico" autocomplete="off">
                                        <mat-error *ngIf="phone.hasError('email') && !phone.hasError('required')">
                                          Por favor, introduce un numero telefonico valido
                                        </mat-error>
                                        <mat-error *ngIf="phone.hasError('required')">
                                          El campo es <strong>requerido</strong>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Constraseña</mat-label>
                                        <input [type]="hidePassword ? 'password' : 'text'" matInput [formControl]="password" [errorStateMatcher]="matcher"
                                               placeholder="Ingrese primer apellido" autocomplete="off">
                                               <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                              </button>
                                        <mat-error *ngIf="password.hasError('email') && !password.hasError('required')">
                                          Por favor, introduce un numero telefonico valido
                                        </mat-error>
                                        <mat-error *ngIf="password.hasError('required')">
                                          El campo es <strong>requerido</strong>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                      <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Confirmar Constraseña</mat-label>
                                        <input [type]="hide ? 'password' : 'text'" matInput [formControl]="confirmPassword" [errorStateMatcher]="matcher"
                                               placeholder="Ingrese primer apellido" autocomplete="off">
                                               <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                              </button>
                                        <mat-error *ngIf="confirmPassword.hasError('email') && !confirmPassword.hasError('required')">
                                          Por favor, introduce un numero telefonico valido
                                        </mat-error>
                                        <mat-error *ngIf="confirmPassword.hasError('required')">
                                          El campo es <strong>requerido</strong>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                       <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Descripcion</mat-label>
                                          <textarea matInput placeholder="Descripcion de la Unidad y/o Dependencia" autocomplete="off"  matInput [formControl]="description" [errorStateMatcher]="matcher" ></textarea>
                                        <mat-error *ngIf="confirmPassword.hasError('email') && !confirmPassword.hasError('required')">
                                          Por favor, introduce un numero telefonico valido
                                        </mat-error>
                                        <mat-error *ngIf="confirmPassword.hasError('required')">
                                          El campo es <strong>requerido</strong>
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                </div>
                               
                                <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]="nameSpinner" [ngClass]="{activeSpinner: nameSpinner}">
                                  {{ nameSpinner ? 'Registrando... ' : 'Registrar ' }} <mat-spinner *ngIf="nameSpinner" diameter="20"  color="accent" class="spinnerLoading"></mat-spinner>
                                </button>
                                <a mat-raised-button type="submit" class="btn btn-danger pull-left" routerLink="/">Regresar</a>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        </div>
                    </div>
              
            </div>
          </div>
        </div>
      </div>
  
    </main>
  
  </div>
  