#fondo {
    background: radial-gradient(circle at top left,  #0C7295, #4dbd74);
    /* background: radial-gradient(circle at top left,  #fafd51, #0056a1, #fd0303); */
    height: 100%;
    width: 100%;
}

.bajar {
    margin: 70px auto;
}

.drop { filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.5)); }
.img-fluid { max-width: 100%; height: auto; }



.example-form {
    min-width: 100%;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }