<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Panel de Certificados</h4>
                        <p class="card-category"> Diferentes Sistemas de Armas del Ejército Bolivariano</p>
                    </div>
                    <br>

                    <!-- <button class="btn btn-success" (click)="Vertical()">Vertical</button>
                    <button class="btn btn-warning" (click)="Horizontal()">Horizontal</button>
   -->
   <div class="container">
   <div class="row">
    <div class="col-md-6">
        <div class="card" routerLink="list-certificates">
            <div class="card-header card-header-icon card-header-success">
              <div class="card-icon">
                <i class="material-icons">📝</i>
              </div>
              <h4 class="card-title">Lista de Certificados</h4>
            </div>
            <div class="card-body">
                Click aqui para visualizarla lista de los certificados generados.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" routerLink="configuration-certificates">
            <div class="card-header card-header-icon card-header-success">
              <div class="card-icon">
                <i class="material-icons">⚙️</i>
              </div>
              <h4 class="card-title">Configuración de Certificados</h4>
            </div>
            <div class="card-body">
                Click aqui para ingresar a la configuración de los certificados.
            </div>
        </div>
    </div>
    </div>
</div>

            </div>
        </div>
    </div>
  </div>
  